@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility btn-3d-push-flat-right {
  @apply relative block box-border px-12 py-5 font-black text-black uppercase bg-sunbeam bottom-[var(--btn-height-md)]
    transition duration-200 rotate-z-30 -rotate-y-10 rotate-x-55 origin-[0_0]
    transition-[bottom] transform-3d perspective-[800px] cursor-pointer
    before:content-[''] before:absolute before:block before:top-full before:left-0 before:w-full before:h-[var(--btn-height-md)] before:bg-light-purple before:-rotate-x-90 before:origin-[0_0] before:duration-200 
    after:content-[''] after:absolute after:block after:left-full after:top-0 after:w-[var(--btn-height-md)] after:h-full after:bg-wisteria after:rotate-y-90 after:origin-[0_0] after:duration-200
    active:bottom-0 active:before:h-0 active:after:w-0;
}
@utility floor-3d-flat-right {
  @apply relative block box-border px-12 py-5 font-black text-black uppercase bg-sunbeam bottom-[var(--floor-height-md)]
    transition duration-200 rotate-z-35 -rotate-y-15 rotate-x-55 origin-[0_0]
    transition-[bottom] transform-3d perspective-[800px]
    before:content-[''] before:absolute before:block before:top-full before:left-0 before:w-full before:h-[var(--floor-height-md)] before:bg-light-purple before:-rotate-x-90 before:origin-[0_0] before:duration-200 
    after:content-[''] after:absolute after:block after:left-full after:top-0 after:w-[var(--floor-height-md)] after:h-full after:bg-wisteria after:rotate-y-90 after:origin-[0_0] after:duration-200
    active:bottom-0 active:before:h-0 active:after:w-0;
}
@utility border-3d {
  @apply border-2 border-black before:border-2 before:border-black after:border-2 after:border-black;
}

@utility text-balance {
  text-wrap: balance;
}
@utility footer-btn {
  @apply relative w-40 h-20 sm:w-48 min-w-fit p-2 font-mono text-xl font-bold bg-white border-4 border-black border-solid rounded-xl shadow-footer-btn hover:shadow-none hover:top-2 leading-tight;
}
@utility email-btn {
  @apply relative px-4 py-2 font-mono text-base font-bold bg-white border-2 border-black border-solid min-w-fit rounded-xs shadow-email-btn hover:shadow-none hover:top-1 hover:left-1 leading-tight;
}
@utility dark-action-btn {
  @apply relative px-4 py-2 font-mono text-base font-bold bg-white border-2 border-black border-solid min-w-fit rounded-xs shadow-footer-btn hover:shadow-none hover:top-[6px] hover:left-[6px] leading-tight;
}
@utility spray-btn {
  @apply relative px-3 py-1 font-mono text-sm font-bold text-white border-2 border-white border-solid min-w-fit hover:scale-110;
}
@utility hack-btn {
  @apply w-48 h-20 px-2 py-2 font-mono font-bold bg-black border-4 border-white border-solid min-w-fit;
}

@utility sponsor-overflow {
  position: relative;
  left: -80px;
  width: calc(100% + 160px);
  @media print {
    position: static;
    left: 0;
    width: auto;
  }
}

@utility page-break {
  display: none;
  @media print {
    display: block;
    visibility: hidden;
    break-before: page;
  }
}

@layer utilities {
  :root {
    --light-purple: #F4BBFF;
    --purple: #C9A0DC;
    --dark-purple: #863FB6;
    --wisteria: #BE83D4;
    --sunbeam: #FBF3C9;
    --amber: #FDD34A;
    --amber-450: #F8AF18;
    --amber-550: #E78B09;

    --background: var(--sunbeam);
    --foreground: #171717;

    --btn-height-md: 15px;
    --floor-height-md: 25px;

    --cube-sm: 24px;
    --cube-lg: 200px;
    --cube-md: 96px;
  }

  /*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

  .text-stroke-3 {
    -webkit-text-stroke: 3px black;
  }
}

@layer base {
  body {
    @apply font-main;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}